:root {
  --black: hsla(197, 100%, 5%, 1);
  --border: hsla(188, 31%, 28%, 0.8);
  --dark-slate-gray: hsla(188, 31%, 28%, 1);
  --blue: hsla(190, 100%, 23%, 1);
  --light-blue: hsla(188, 32%, 67%, 1);
  --almond: hsla(35, 51%, 86%, 0.5);
  --yellow: hsla(40, 79%, 54%, 1);
  --orange: hsla(30, 98%, 40%, 1);
  --darkorange: hsla(19, 97%, 37%, 1);
  --red: hsla(5, 81%, 38%, 1);
  --green: #40712e;
  --white: white;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

html {
  width: 100vw;
}

h1,
header span {
  font-family: WaltographRegular, script, serif;
  font-size: 3rem;
}

header {
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: var(--light-blue);
  padding: 2rem;
  min-height: 8vh;
}

.mainPage {
  min-height: 100vh;
  max-width: 100%;
  padding: 1rem;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.mainPage .colorWrapper {
  background-color: var(--almond);
}

.mainPage img {
  position: absolute;
  top: 25%;
  left: -15%;
  max-width: 100%;
  opacity: 0.5;
  z-index: 0;
}

.mainPage .navTileBox {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mainPage .NavTile {
  width: 10rem;
  height: 10rem;
  background-color: var(--yellow);
}

.navBalloon {
  position: absolute;
  width: 30%;
  top: 0%;
  left: 70%;
  z-index: 2;
}

.tileList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.tileSquare {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  padding: 10px;
  border: 6px solid var(--border);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tile-text {
  font-size: 1.5rem;
  font-weight: 900;
}

.link {
  color: black;
  text-decoration: none;
}

.backgroundimg {
  position: absolute;
  z-index: -1;
  opacity: 30%;
  top: -50px;
  left: -50px;
  min-height: 100vh;
}

.bottomImage {
  top: 100vh;
}

.colorWrapper {
  position: absolute;
  z-index: -2;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
}

/* ************ Character Search Page********* */
.characterPage {
  min-height: 100vh;
  max-width: 100%;
  padding: 1rem;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  /* height: 100vh; */
}

.characterPage .colorWrapper {
  background-color: var(--blue);
  height: 100%;
}

.characterPage form {
  color: var(--almond);
}

input,
label {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

input[type="text"] {
  padding: 1rem;
  min-width: 80%;
}

label {
  font-size: 1.5rem;
  color: var(--white);
}

.button {
  background-color: var(--red);
  color: var(--white);
  padding: 0.3rem 1.5rem;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-inline-end: 10%;
  border: none;
}

.button:focus {
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.returnresults {
  background-color: var(--light-blue);
  padding: 0.5rem;
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.returnresults h2 {
  text-align: center;
  font-size: 3rem;
}

.returnresults img {
  display: block;
  margin: 1rem auto;
}

.returnresults li li {
  margin-left: 2rem;
}

.returnresults ul {
  margin-bottom: 1rem;
}

/* ************ Trivia Page********* */
.triviaPage {
  min-height: 100vh;
  max-width: 100%;
  padding: 1rem;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}

.triviaPage .colorWrapper {
  background-color: var(--white);
  height: 100%;
}

.cardWrapper {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trivia-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  /* border-radius: 15px;
  padding: 10px;
  border: 6px solid var(--border);
  -webkit-background-clip: padding-box;
  background-clip: padding-box; */
}

.trivia-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.trivia-card-front,
.trivia-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
}

.trivia-card-front {
  background-color: var(--blue);
}

.trivia-card-back {
  background-color: var(--yellow);
  transform: rotateY(180deg);
}

.fliptoBack {
  transform: rotateY(180deg);
}

.fliptoFront {
  transform: rotateY(0deg);
}

/* *********************** Weather Page **************** */

.weatherPage {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.weatherPage .colorWrapper {
  background-color: var(--yellow);
  height: 100%;
}

.minniebackgroundimg {
  position: absolute;
  z-index: -1;
  opacity: 50%;
  top: 200px;
  left: 50px;
  height: 600px;
  overflow: hidden;
}

.weatherWrapper h2 {
  margin: 1rem;
}

.parkList {
  display: block;
  margin: 0 auto;
}

select {
  padding: 0.5rem;
  font-size: 1.1rem;
}

.weatherResults-inner {
  background-color: var(--white);
  padding: 2rem;
  margin: 2rem;
  opacity: 90%;
  height: 60vh;
}

.weatherReport {
  opacity: 100%;
  filter: drop-shadow(0px 0px 0px black);
}

.weatherReport ul {
  font-size: 1.2rem;
}

.weatherReport h3,
.weatherReport ul li:first-child {
  text-align: center;
}


/* ****************** tic tac toe page *************** */
.tictactoePage {
  min-height: 100vh;
  max-width: 100%;
  padding: 1rem;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}

.tictactoePage section {
  display: flex;
  flex-direction: column;
  justify-content: evenly;
  height: 100vh;
}

.playerSelections {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.gameBtnBox {
  text-align: center;
  margin: 2rem;
}

.tictactoebox {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  justify-items: center;
  max-width: 100%;
}

.middle {
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.center {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.box {
  width: 110px;
  height: 110px;
  align-items: center;
  font-family: "Permanent Marker";
  font-size: 5rem;
}

select,
label {
  padding: .5rem;
  font-size: 1.5rem;
}

.gameStatus {
  margin-top: 3rem;
  text-align: center;
}

.tictactoePage h2 {
  text-align: center;
  font-size: 2rem;
}

/* ******************** Dash Game ****************** */

  .dashPage {
      min-height: 100vh;
      max-width: 100%;
      padding: 1rem;
      object-fit: cover;
      overflow: hidden;
      position: relative;
      overflow: hidden;
  }
  .game,
  .dashPage h2,
  .dashPage input {
    text-align: center;
  }
  .game {
    width: 90vw;
    height: 65vh;
    border: 1px solid black;
    margin: 0 auto;
  }

  .char {
    transform: scale(-1, 1);
    /* relative so it can move in the container */
    position: relative;
    /* positioned the amount of the container, minus the heieght of the character */
    top: 330px;
    right: 290px;
    z-index: 100;
    height: 200px;
  }

  .getPoints {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 230px;
    /* left: 680px; */
  }
.pointsBox {
border: 1px solid yellow;
 width: 80px;
 height: 80px;
 position: absolute;
 top: 230px;
 left: 10px;
}
.gameOver {
  border: 1px solid red;
   width: 80px;
   height: 80px;
   position: absolute;
  top: 440px;
  left:100px;
}
  .animate {
    animation: jump 500ms;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  .block {
    font-size: 3rem;
    position: relative;
     height: 80px;
    top: -110px;
    left: 250px;
    border: 1px solid red;
  }

  .start {
    /* animation to make block keep running over and over  */
    animation: block 2.5s infinite linear;
    animation-delay: 0.5s;
    transition-timing-function: ease-in-out;
  }

  .buttonBox {
    display: flex;
   justify-content: flex-end;
    text-align: center;
  }

  .startBtn {
    padding: 0.5rem;
    font-size: 2rem;
    margin: 1rem;
    background-color: #202049;
    color: white;
    border-radius: 5px;
  }

  @keyframes block {
    0% {
      left: 250px;
    }

    100% {
      left: -20px;
    }
  }

  @keyframes jump {
    0% {
      top: 330px;
    }

    30% {
      top: 130px;
    }

    70% {
      top: 130px;
    }

    100% {
      top: 330px;
    }
  }

/* ***************** Would you Rather? Page ********* */
.flipCardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 3rem;
}
.ratherPage {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}
.ratherPage .backgroundimg {
position: absolute;
z-index: -1;
opacity: 80%;
/* top: -50 px; */
/* left: -50 px; */
min-height: 100 vh;
}
.ratherPage .colorWrapper {
  /* background-color: var(--yellow); */
  height: 100%;
}
.ratherBtn {
  width: 100px;
  height: 100px;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 5px;
  font-size: 4rem;
  text-align: center;
  float: right;
  margin: 4rem 2rem;

  cursor: pointer;
}
.ratherBtn:hover {
  background-color:hsla(40, 79%, 54%, 1);
}
.ratherBtn:focus {
  width: 95px;
  height: 95px;
  background-color:hsla(40, 79%, 54%, 1);
}
.ratherBtn:active {
  width: 95px;
  height: 95px;
  background-color: hsla(40, 79%, 54%, 1);
}

.rathercardWrapper {
  margin-top: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rather-card {
  background-color: transparent;
  width: 400px;
  height: 250px;
  perspective: 1000px;
  /* border-radius: 15px;
  padding: 10px;
  border: 6px solid var(--border);
  -webkit-background-clip: padding-box;
  background-clip: padding-box; */
}

.rather-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.rather-card-front,
.rather-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-radius: 15px; */
}

.rather-card-front {
  background-color: var(--blue);
}

.rather-card-back {
  content: "Would you rather...";
  background-color: var(--orange);
  /* transform: rotateX(180deg); */
}

/* .ratherfliptoBack {
  transform: rotateX(180deg);
}

.ratherfliptoFront {
  transform: rotateX(0deg);
} */


/* **************** Media Query************ */
@media only screen and (min-width: 500px) {
  html {
    max-width: 550px;
    margin: 0 auto;
  }

  body {
    border: 3px solid black;
    border-radius: 50px;
  }

  .colorWrapper {
    border-radius: 0px 0px 50px 50px;
    height: 100%;
    width: 100%;
  }

  .enterPage {
    width: 100%;
    border-radius: 50px;
  }

  header,
  .WelcomePage {
    border-radius: 50px 50px 0 0;
  }

  .navBalloon {
    left: 60%;
  }

  .backgroundimg {

    width: 100vw;
  }

}