.ad-ad2 h2:hover span {
   display: inline-block;
  color: #484848;
  transform: translateX(20px);
}
.ad-ad2 h2:hover span {
  display: inline-block;
  color: #484848;
  transform: translateX(40px) scale(1.5);
}
.ad-ad3 h2:hover span {
   display: inline-block;
  color: #484848;
  transform: rotate(10deg) translateX(40px) scale(1.5);
}
.ad-ad4 h2:hover span {
  display: inline-block;
  color: #484848;
  transform: skew(15deg, 4deg)
  rotate(10deg) translateX(40px) scale(1.5);
}
.arrow {
  animation: bounce 2s infinite;
  text-align: center;
  font-size: 10rem;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-2rem);
  }

  60% {
    transform: translateY(-1rem);
  }
}

.myCanvas {
  border: dotted 2px black;
}

.heart {
  position: relative;
  width: 100px;
}

.heart::after,
.heart::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 400px;
  width: 100px;
  height: 180px;
  background: red;
  border-radius:100px 100px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0100%;
}

.heart::after {
  transform: rotate(45deg);
  transform-origin: 100%100%;
  top: 45px;
  left: 395px;
}